<!DOCTYPE html>
<html>

<head>
    <title>Histórico de Gastos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>


    <div class="contenedor">
        <div style="text-align: left; margin: 20px;">
            <a href="/" style="text-decoration: none; font-size: 20px;">⬅️ Volver</a>
        </div>

        <h1>Histórico de Gastos por Mes</h1>

        {% if not hay_datos %}
        <div class="cuadro-info-1">
            <h3>No hay datos registrados aún.</h3>
        </div>
        {% else %}
        <form method="POST">
            <label>Selecciona el mes:</label>
            <select name="mes" required>
                <option value="">Mes</option>
                {% for mes in meses_disponibles %}
                <option value="{{ mes }}">{{
                    ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"][mes-1]
                    }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrar">
        </form>

        {% if gastos %}
        <table class="tabla-movimientos">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Categoría</th>
                    <th>Monto</th>
                    <th>Comentario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for g in gastos %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ g['fecha'] }}</td>
                    <td>{{ g['categoria'] }}</td>
                    <td>${{ g['monto'] }}</td>
                    <td>{{ g['comentario'] }}</td>
                    <td id="td">
                        <a href="/eliminar/{{ g['id'] }}" style="color:red; font-size: 18px;">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif mensaje %}
        <div class="cuadro-info">
            <p>{{ mensaje }}</p>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% if mostrar_cartola and mes_seleccionado %}
    <div style="margin-top:20px; text-align:center;">
        <a href="/cartola/{{ mes_seleccionado }}" target="_blank"
            style="background:#27ae60; color:white; padding:10px 20px; text-decoration:none; border-radius:4px; display:inline-block;">
            📄 Generar Cartola Mensual
        </a>
    </div>
    {% endif %}

</body>

</html>